.intro {
  background: var(--color-theme-highlight-block);

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    // color: var(--color-theme-feature-text);
    background: -webkit-linear-gradient(left bottom,var(--color-primary-glare),var(--color-theme-feature-text));
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--heading-fill-color) ;
    &--compact {
      max-width: 20ex;
    }
  }
}
