
.flow {
    --flow-space: 1em;
}
.subscribe {
    display:grid;
    background-color: var(--color-theme-highlight-block);
    // color:var(--color-light);
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1.7fr;
    // column-gap: 2.4rem;
    max-width: 35rem;
    margin: 2em auto 4em auto;
    font-size: 1rem;

    &__pretty {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 1em 1em;
    }
    &__form, .thank-you{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 3em 1em;
        margin: .1em auto 1em auto;
    }

    & img {
        margin: 1.6em;
    }

    & h1, p {
        text-align: center;
    }

    & h1 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    & p, label {
        font-size: 1rem;
    }

    // &__form + .signup__alert {
    //     --flow-space: 1em;
    // }

    & .inline-field-control {
        --flow-space: 0.5rem;   
        display: inline-block;
        font-size: 1.2rem;
        // border: 1px solid var(--color-primary-glare);
    }

    & .button {
        background: var(--color-theme-feature-text);
        color: var(--color-theme-highlight-block);
        font-weight: 600;
        font-size: 2.2rem;
        // margin: .6em;
        margin-bottom: .6em;
        border-radius: .4rem;
        width: 100%;
        cursor: pointer;
    }

    & .input_background {
        background: var(--color-bg);
        border-radius: .8em;
        margin-bottom: 1.8em;

    }
    & button, input[type] {
        border: none;
        // margin: 0;
        font: inherit;
        line-height: 1;
        padding-top: .8rem;
        padding-bottom: .8rem;

        caret-color: var(--color-primary-glare);
    }

    & .validity_margin {
        margin-left:-2em;
        padding-left: 2.5em;
    }

    & input {
        background:none;
        width: 113%;
        color: var(--color-text);
    }

    & input:focus:invalid {
        background: url("/images/invalid.svg") no-repeat 0% 50%;
        background-size: 2em;
      }

    & input:required:focus:valid {
        background: url("/images/valid.svg") no-repeat 0% 50%;
        background-size: 2em;
      }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
.subscribe {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2em;
    max-width: 35rem;
    margin: 2em auto 4em auto;
    font-size: 1rem;

    &__pretty {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 1em 1em;
    }

    &__form, .thank-you {
        grid-column: 2 / 3;
         grid-row: 1 / 2;
        padding: 3em 1em;
    }

    & input {
        background:none;
        width: 118%;
        color: var(--color-text);
    }

    }
}
// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }