
.flow {
    --flow-space: 1em;
}
.signup {
    max-width: 22rem;
    margin: 2em auto 0 auto;

    &__form + .signup__alert {
        --flow-space: 1em;
    }

    & .button {
        background: linear-gradient(45deg,var(--color-primary-glare),var(--color-highlight));
        color: var(--color-bg);
        font-size: 1.6rem;
        min-width: 3.5rem;
        cursor: pointer;
    }
}

label {
    color: var(--color-text);
    text-transform: uppercase;
    font-weight: 400;
}

.inline-field-control {
    --flow-space: 0.5rem;
    display: flex;
    border: 1px solid var(--color-tertiary);
}

.inline-field-control input {
    flex: auto;
    border-right: 1px solid var(--color-tertiary);
}

button, input[type] {
    border: none;
    border-radius: 0;
    margin: 0;
    font: inherit;
    line-height: 1;
    padding: .8rem;
    caret-color: var(--color-primary-glare);
}