.site-head {
  &__site-name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
    
  }

  &__logo {
    height: 5em;
  }
  &__textSVG {
    fill: var(--color-text);
  }

  &__logoSVG {
    fill: var(--color-highlight);
  }

  &__logoTXT {
    height: 2em;
    
    
  }
}
