.zoom {
  width:400px;
  height: 500px;
  margin: 2em auto 2em auto;
  overflow: hidden;

}

.zoom_img {
  width: 100%;
  height: 100%;
  animation-duration: 8s;
  animation-name: box_zoom;

}

@keyframes box_zoom {
  from {
    margin-left:3400px;
    margin-top: -3600px;
    transform: scale(30);
  }

  70% {
    margin-left:3400px;
    margin-top: -3600px;
    transform: scale(30);
  }
  to {
    margin-left:0;
    margin-top: 0;
    transform: scale(1);
  }
}