 <div class="subscribe">

    <div class="subscribe__pretty">
    	    <h1 class="subscribe__heading text-500">Subscribe to the Flexion Newsletter</h1>
    	<p>Subscribe to get our latest content via email.</p>
        <img class="gap-top-700" src="/images/flexion-email.svg" alt="mail icon with flexion logo">
        <p>RSS feed also available.</p>
    </div>
    <form action="pages/thank-you" class="subscribe__form"  method="POST" data-netlify="true">
        <div class="inline-field-control">
            <label for="name">Name</label>
            <div class="input_background">
                <input type="text" name="name" id="name" autocapitalize="words" autocorrect="off" required="true" placeholder="Hello">
            </div>
            <label for="email">Email address</label>
            <div class="input_background">
                <input type="email" name="email" id="email" autocapitalize="none" autocorrect="off" required="true" pattern="[^@]+@[^\.]+\..+" placeholder="you_are@awesome.com">
            </div>
            <button type="submit" class="button margin-top-300">Subscribe</button>
            <p>We will not spam you. </p> <p>Un-subscribe at any time with a single click.</p>
        </div>
    </form>
</div>