 <div class="subscribe">
    <div class="subscribe__pretty">
    	    <h1 class="subscribe__heading text-500">Subscribe to the Flexion Newsletter</h1>
    	<p>Subscribe to get our latest content via email.</p>
        <img class="gap-top-700" src="/images/flexion-email.svg" alt="mail icon with flexion logo">
        <p>RSS feed also available.</p>
    </div>
    <form 
    id="subscribe"
    name="subscribe"
    class="subscribe__form"  
    method="POST" 
    data-netlify="true" 
    netlify-honeypot="last-name">
        <div class="inline-field-control">
            <label for="name">Name</label>
            <div class="input_background">
                <input class="validity_margin"  type="text" name="name" id="name" autocapitalize="words" autocorrect="off" required="true" placeholder="Hello" pattern="^[a-zA-Z]([\w -]*[a-zA-Z])?$">
            </div>
            <label for="last-name" class="visually-hidden"></label>
            <input type="hidden" class="visually-hidden" name="last-name">
            <label for="email">Email address</label>
            <div class="input_background">
                <input class="validity_margin" type="email" name="email" id="email" autocapitalize="none" autocorrect="off" required="true" pattern="[^@]+@[^\.]+\..+" placeholder="you_are@awesome.com">
            </div>
            <button type="submit" class="button margin-top-300">Subscribe</button>
            <p>We will not spam you. </p> <p>Un-subscribe at any time with a single click.</p>
        </div>
    </form>
    <div class="thank-you visually-hidden">
            <h1 class="subscribe__heading">Thank you</h1>
                <p>Thanks for subscribing. It is really appreciated.</p>
                <img src="/images/thank-you-present.svg" alt="flexion present icon">
                <p>We will drop you an email soon. please check your inbox or your spam filter for an email from us.</p>
    
</div>
</div>
