 <div id="subscribe" class="subscribe">
    <div class="subscribe__pretty">
    	    <h1 class="subscribe__heading text-500">Subscribe to the Flexion Newsletter</h1>
    	<p>Subscribe to get our latest content via email.</p>
        <img class="gap-top-700" src="/images/flexion-email.svg" alt="mail icon with flexion logo">
        <p><a href="./feed.xml">RSS feed also available.</a></p>
    </div>
    <div class="[ subscribe__form ]">
    <form 
    id="subscribe-form"
    name="subscribe"
    method="POST" 
    action="/thank-you"
    data-netlify="true" 
    netlify-honeypot="last-name">
            <label for="first-name">Name</label>
            <div class="input_background">
                <input class="validity_margin"  type="text" name="first-name" id="first-name" autocapitalize="words" autocorrect="off" required="true" placeholder="First name will do" pattern="^[a-zA-Z]([\w -]*[a-zA-Z])?$">
            </div>
            <label for="last-name" class="visually-hidden"></label>
            <input type="hidden" class="visually-hidden" name="last-name">
            <label for="email">Email address</label>
            <div class="input_background">
                <input class="validity_margin" type="email" name="email" id="email" autocapitalize="none" autocorrect="off" required="true" pattern="[^@]+@[^\.]+\..+" placeholder="example@flexion.tech">
            </div>
            <button type="submit" class="button margin-top-300">Subscribe</button>
            <p>We will not spam you. </p> <p>Un-subscribe at any time with a single click.</p>
    </form>
    
    </div>
    <div class="thank-you visually-hidden">
            <h1 class="subscribe__heading">Thank you</h1>
                <p>Thanks for subscribing.</p>
                <img src="/images/thank-you-present.svg" alt="flexion present icon">
                <p>We have just sent you an email. Please check your email and spam filter and add us to your contacts to receive updates right to your inbox! </p>
    
</div>
</div>
