// @import "compass/css3";

:root {
	--length: 0.1em;
	--width: 0.1em;
	--height: 0.1em;
	--perspective: 20em;
	--dimW-icon-size: 2em;
	--weight-icon-size:2em;
}
$animation-duration: 10s;

// body {
// 	margin: 0;
// 	height: 200vh;
// 	perspective: --perspective;
// }

.dim-grid {
	display: grid;
	grid-template-columns: 450px auto;
	grid-template-rows: 450px auto;
	// grid-template-rows: 
}

.factorTable {
	display: flex;
	justify-content: space-between;
	 div {
		writing-mode: vertical-rl;
		text-orientation: upright;
	 }
}
.inputs,
.viewPort {
	grid-columns: 2/3;
}

.inputs {
	display:grid;
	background-color: var(--color-theme-highlight-block);
    // color:var(--color-light);
    grid-template-columns: 1fr 1fr .5fr;
		// column-gap: 2.4rem;
		row-gap: .2em;
    max-width: 35rem;
    margin: 2em auto 4em auto;
		font-size: 1rem;
		align-items: center;
		padding: 1em;
		border-radius: 1em;
		input[type] {
			text-align: right;
			width: 124%;
			padding-right: .4em;
		}
		label {
			text-align: right;
			margin: .1em 2em;
		}
		 .input_background {
			 margin: 0;
		 }
}

label.inputs__dim  {
	grid-column: 1/2;
}
div.input__dim {
	grid-column: 2/3;
	margin: .1em 2em;
}

.viewPort {
	position: relative;
	perspective: 100em;
	width: 450px;
	height: 450px;
	transition: all 1s ease-in-out;

}

[class*="cube"] {
	position: absolute;
}

.cube {
	position: absolute;
	top: 50%;
	left: 50%;
	transform-style: preserve-3d;
	// box-shadow: 0 0 2px 5px crimson;
	// width:50vw;
	// height:50vh;
	// font-size: 8vmin;
	transform: rotateX(-15deg) rotateY(360deg) ;
	// animation: rotate 10s linear infinite;

	&__face {
		box-sizing: border-box;
		margin-top: calc(-0.5 * #{"var( --height)"});
		margin-left: calc(-0.5 * #{"var( --length)"});
		backface-visibility: hidden;
		--i: 0;
		--j: 1;
		// interpolate because Sass apparently has issues with this
		background: #f3aa3b;
		border: 2px solid #333a;
		transition: all 1.5s cubic-bezier(.6,-0.29,.73,1.51);

		&:nth-child(n + 5) {
			--i: 1;
			--j: 0;
		}
		&:nth-child(1) {
			--a: 0deg;
		}
		&:nth-child(2) {
			--a: 90deg;
		}
		&:nth-child(3) {
			--a: 180deg;
		}
		&:nth-child(4) {
			--a: 270deg;
		}
		&:nth-child(5) {
			--a: 90deg;
		}
		&:nth-child(6) {
			--a: -90deg;
		}
		&:nth-child(1),
		&:nth-child(3) {
			width: #{"var( --length)"};
			height: #{"var( --height)"};
			transform: rotate3d(var(--i), var(--j), 0, var(--a))
				translateZ(calc(0.5 * #{"var( --width)"}));
			// animation: shade $animation-duration linear infinite;
		}
		&:nth-child(3) {
			// animation: shade #{$animation-duration} #{-$animation-duration/2} linear infinite;
		}
		&:nth-child(2),
		&:nth-child(4) {
			width: #{"var( --width)"};
			height: #{"var( --height)"};
			transform: rotate3d(var(--i), var(--j), 0, var(--a))
				translateZ(calc(0.5 * #{"var( --width)"}));
			// animation: shade #{$animation-duration} #{-$animation-duration * 3/4} linear infinite;
		}
		&:nth-child(2) {
			transform: rotate3d(var(--i), var(--j), 0, var(--a))
				translateZ(calc(#{"var( --length)"} - (0.5 * #{"var( --width)"})));
			// animation: shade #{$animation-duration} #{-$animation-duration/4} linear infinite;
		}
		&:nth-child(5),
		&:nth-child(6) {
			width: #{"var( --length)"};
			height: #{"var( --width)"};
			transform: rotate3d(var(--i), var(--j), 0, var(--a))
				translateZ(calc(0.5 * #{"var( --width)"}));
		}
		&:nth-child(6) {
			backface-visibility: initial;
			border: none;
			background: #5555;
			filter: blur(10px);
			transform: rotate3d(var(--i), var(--j), 0, var(--a))
				translateZ(calc(#{"var( --height)"} - (0.2 * #{"var( --width)"})));
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotateX(-15deg) rotateY(0deg);
	}
	100% {
		transform: rotateX(-15deg) rotateY(360deg);
	}
}

@keyframes shade {
	50% {
		background: rgba(black, 0.7);
	}
}

// balance view and dimentions
.balanced-view {
	display: grid;
	margin:2em;

	justify-items: center;
	grid-template-rows: auto auto auto;

	[class*="weight-icon"]{
		grid-row: 1/2;
		grid-column: 1/2;
		line-height:120px;
		font-size:1.5em;
		color:white;
		font-weight:bold;
		background: #222;
		clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
		text-align:center;
		align-self: end;
	}

	
	// --dimW-icon-size: 2em;
	// --weight-icon-size:2em;
	.dim-weight-icon {
		justify-self: left;
		width: var(--dimW-icon-size);
		height: var(--dimW-icon-size);
		line-height: var(--dimW-icon-size);
		margin-left: 10px;
		// transform: rotate(5deg) translate(0, calc(var(--dim-weight-height-trans)* -0.05));
		// transition: width 0.2s 0s, 
		// 						transform 3.5s .2s cubic-bezier(1,.09,.94,1.17);
	}
	// &.dim > .dim-weight-icon {
	// 		transform: rotate(-5deg) translate(-6px, calc(var(--dim-weight-height-trans)/2));
	// 	}

	.weight-icon {
		justify-self: right;
		width: var(--weight-icon-size);
		height: var(--weight-icon-size);
		line-height: var(--weight-icon-size);
		margin-right: 10px;
		// transform: rotate(5deg) translate(6px, calc(var(--weight-height-trans)/2));
		// transition: width 0.2s 0s, 
		// 						transform 3.5s .2s cubic-bezier(1,.09,.94,1.17);
	}
	
	// &.dim > .weight-icon {
	// 		transform: rotate(-5deg) translate(0, calc(var(--weight-height-trans)* -0.05));
	// 	}

	.triangle {
		grid-row: 3/4;
		width: 80px;
		height: 22px;
		background: linear-gradient(#f9cf00,#F19E4D);
		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

	}
	.tipper{
		grid-row: 2/3;
		grid-column: 1/2;
		display:grid;
		width: 100%;
		transform: rotate(5deg);
		transition: width 0.2s 0s, 
								transform 3.5s .2s cubic-bezier(1,.09,.94,1.17);
		}
		&.dim > .tipper {
			transform: rotate(-5deg);
		}
	.balance {
		
		margin-top: 2px;
		border-radius: 5px;
		height: 15px;
		background: linear-gradient(360deg, #F19E4D,#f9cf00);
	}
	&.dim > .balance {
		transform: rotate(-5deg);
	}
}